
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-contenedor{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
}

.menu-tittle{
  margin: 2rem auto;
}

.filter-btn{
  margin-bottom: 2rem;
  margin-left: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}

.menu-list{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
